<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Notes Crud Operation</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 mt-5">
        <h2 class="alert alert-primary text-center"><b>Notes App</b></h2>
      </div>
    </div>

    <div class="row">

      <div class="col-md-6">
        <h2 class="alert alert-warning text-center"> Add Form </h2>

        <form method="post" action="/">
          <div class="mb-3">
            <label for="title" class="form-label"><b> Title </b></label>
            <input type="text" class="form-control" name="title" required>
          </div>
          <div class="mb-3">
            <label for="desc" class="form-label"><b> Description </b></label>
            <input type="text" class="form-control" name="des" required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

      </div>

      <div class="col-md-6 ">
        <h2 class="alert alert-danger text-center"> Note's Details </h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">No. </th>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>

            <% rows.forEach(element => { %>
            <tr>
              <th scope="row"> <%= element.id %> </th>
              <td> <%= element.title %> </td>
              <td> <%= element.des %> </td>
              <td class="d-flex ">

                <span>
                  <form action=/note/<%= element.id %>>
                    <button class="btn btn-warning">Edit</button>
                  </form>
                </span>

                <span>
                  <form action=/delete/<%= element.id %> method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                </span>

              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>

      </div>

    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>

</html>